#header{
    padding: 20px;
}

#header .page-logo{
    width: 162px;
    height: 40px;
    float: left;
    margin-left: 10px;
}

#header .top-menu{
    float: right;
}
#header .menu-item{
    margin-right: 10px;
}
.page-top{
    background-color: #f5f5f5;
    /*border-bottom: 1px solid #c0c0c0;*/
    height: 100px;
    margin-top: 20px;
    font-size: 48px;
    font-weight: normal;
}
.page-top h1{
    margin-left: 18px;
}
.news-page{
    margin: 10px 10px 0 20px;
}
.article-section{
    margin: 20px 0 20px -27px;
}

.redBox{border-color: #a94442 !important;}

.article-headline{
    font-weight: bold;
}