<ng-include src="'templates/header.html'"></ng-include>
<div class="news-page col-xs-12">
    <div class="article-section col-xs-12">
        <span class="article-headline col-xs-12">{{article.headline}}</span>
        <span class="article-byline col-xs-12">{{article.articleByline}}</span>
        <span class="article-summary col-xs-12">{{article.articleSummary}}</span>

        <div class=" col-xs-12" ng-controller="CommentsController">
            <h5>Comments</h5>
            <div class="comment-section col-xs-12" ng-repeat="comment in comments | filter: {blogNumber: thisArticle}">
                <span class="comment-name col-xs-12">{{comment.name}}</span>
                <span class="comment-email col-xs-12">{{comment.email}}</span>
                <span class="comment col-xs-12">{{comment.comment}}</span>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <h5>Add your comment</h5>
            <ng-form name="commentForm">
                <div class="form-group">
                    <label for="commentName">Name</label>
                    <input required type="text" name="name" class="form-control" id="commentName" ng-model="newComment.name" placeholder="Name"
                           ng-class="{redBox: commentForm.name.$error.required && SubmitClicked}">
                    <span class="error" ng-show="commentForm.name.$error.required && SubmitClicked">Your name is missing</span>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input required type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="newComment.email"
                           ng-class="{redBox: commentForm.email.$error.required && SubmitClicked}">
                    <span class="error" ng-show="commentForm.email.$error.required && SubmitClicked">Your email is missing</span>
                </div>
                <div class="form-group">
                    <label for="comment">Your Comment</label>
                    <textarea required class="form-control" name="comment" id="comment" cols="40" rows="10" placeholder="Comment..." ng-model="newComment.comment"
                              ng-class="{redBox: commentForm.comment.$error.required && SubmitClicked}"></textarea>
                    <span class="error" ng-show="commentForm.comment.$error.required && SubmitClicked">Your comment is missing</span>
                </div>
                <button type="submit" class="btn btn-default" ng-click="postComment()">Submit</button>
            </ng-form>
        </div>
    </div>
</div>