<ng-include src="'templates/header.html'"></ng-include>
<div class="news-page col-xs-12">
    <div class="article-section col-xs-12" ng-repeat="article in articles">
        <span class="article-headline col-xs-12"><a href="#/blog/{{article.$id}}">{{article.headline}}</a></span>
        <span class="article-byline col-xs-12">{{article.articleByline}}</span>
        <span class="article-summary col-xs-12">{{article.articleSummary}}</span>
    </div>
</div>