<!-- Header -->
<header id="header" class="col-md-12" style="clear: both">
    <img class="page-logo" src="img/viawestlogo.png">
    <div class="top-menu">
        <span class="menu-item"><a href="#/blog">News</a></span>
        <span class="menu-item">|</span>
        <span class="menu-item">Search <input name="searchFor" type="text" ng-model="searchForInput"></span>
    </div>
</header>
<div class="page-top col-md-12">
    <h1>Newsroom</h1>
</div>